<%- include("partials/header"); -%>

<div class="container">
  <h1>Blog</h1>
  <p> <%= startingContent %> </p>
  <% posts.forEach(function(post){ %>
  <h3> <%= post.title %> </h3>
  <p>
    <%= post.content.substring(0, 100) + " ..." %>
    <a href="/posts/<%= post._id%>">Read More</a>
  </p>
  <% }) %>
  <button onclick="window.location.href = '/compose/';" name="newPost" class="btn btn-primary" action>
    New Post
  </button>
</div>

<%- include("partials/footer"); -%>