<%- include("partials/header"); -%>

<div class="container">

  <h1>Blog</h1>

  <% postContent.forEach(function(entry){ %>
  <% let postString = entry.bodyText; %>
  <% let postLength = 50; %>
  <% let trimmedPost = postString.length > postLength ? postString.substr(0, postLength - 3) + "..." : postString; %>
  <h3> <%= entry.titleText %> </h3>
  <p><em> <%= entry.day %> </em></p>
  <p> <%= entry.trimmedPost %> </p>
  <% }) %>

</div>

<%- include("partials/footer"); -%>