<%- include("partials/header"); -%>

<div class="container">
  <h1>Blog</h1>
  <% posts.forEach(function(post){ %>
  <h4>
    <%= post.title %>
  </h4>
  <p>
    <em>
      <%= post.date %>
    </em>
  </p>
  <p>
    <%= post.content.substring(0, 100) + " ..." %>
    <a class="more-text" href="/posts/<%= post._id%>">Read More</a>
  </p>
  <% }) %>
  <button onclick="window.location.href = '/compose/';" name="newPost" class="btn btn-primary" action>
    New Post
  </button>
</div>

<%- include("partials/footer"); -%>