<%- include("partials/header"); -%>

<div class="container">
  <h1>Blog</h1>
  <% postContent.forEach(function(entry){ %>
  <h3> <%= entry.titleText %> </h3>
  <p><em> <%= entry.day %> </em></p>
  <% const textLength = entry.bodyText.length %>
  <% const postURL = entry.postTitleURL %>
  <% if (textLength <= 100) { %>
  <p><%= entry.bodyText %></p>
  <% } else { %>
  <p>
    <%= entry.bodyText.substring(0, 100) + " ..." %>
    <a href="/post/<%= entry.titleText%>">Read More</a>
  </p>
  <% } %>
  <% }) %>
  <button onclick="window.location.href = '/compose/';" name="newPost" class="btn btn-primary" action>
    New Post
  </button>
</div>

<%- include("partials/footer"); -%>