<%- include("partials/header") -%>
<div class="container">
    <h3> <%= postPageTitle %> </h3>
    <p><em> <%= postPageDay %> </em></p>
    <p> <%= postPageBody %> </p>
</div>
<%- include("partials/footer") -%>